@font-face {
	font-family: Moon;
	src: url("../fonts/moon_light.otf") format("opentype");
}

html {
	font-size              : 12px;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow            : 0 0 1px rgba(128,128,128,0.01);
}

a {
	color          : inherit;
	text-decoration: none;
	display        : block;
}

body {
	background-color: #f4004a;
	font-family     : Moon;
	max-height      : 100vh;
	position        : relative;
	padding         : 0;
	margin          : 0;
	height          : 100%; /*firefox*/
	overflow        : hidden;
	letter-spacing  : 0.083em;
}

object[type*="svg"] {
	pointer-events: none
}

ul {
	padding: 0;
	margin : 0;
}

ul li {
	display        : inline;
	text-decoration: none;
	padding        : 0;
	margin         : 0;
}

/* SHARED */

.corner-padding {
	padding: 2.5em;
}

.rudy-hide-desktop {
	display: inline-block !important;
}

.rudy-hide-mobile {
	display: none;
}

.rudy-show-general {
	display: block;
}

.rudy-hide-general {
	display: none;
}

.rudy-pointer {
	cursor: pointer;
}

/* FOOD MENU */

.rudy-foodmenu {
	position                          : absolute;
	display                           : block;
	top                               : 0;
	left                              : 0;
	right                             : 0;
	bottom                            : 0;
	background-color                  : rgba(0, 0, 0, .8);
	-webkit-transform                 : translate3d(0, -2000px, 0);
	transform                         : translate3d(0, -2000px, 0);
	-webkit-transition                : all 1s ease-in-out;
	transition                        : all 1s ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(1,.11,.39,1);
	transition-timing-function        : cubic-bezier(1,.11,.39,1);
	overflow                          : auto;
	padding                           : 0 0 0 2%;
	z-index                           : 250;
}

.rudy-menu-open {
	-webkit-transform: translate3d(0, 0, 0);
	transform        : translate3d(0, 0, 0);
}

.rudy-foodmenu-title {
	color     : #fff;
	width     : 100%;
	text-align: center;
	font-size : 2em;
	margin    : 1.2em 0;
	display   : block;
}

.rudy-close {
	width   : 2.500em;
}

.rudy-item-cont {
	font-size: 2.200em;
	color    : #fff;
}

.rudy-item-cont ul {
	margin: 0 0 1.2em 0;
}

.rudy-item-cont ul li {
	display: inline-block;
}

.rudy-item-cont ul li:first-child {
	width      : 75%;
	color      : #f2024b;
	font-weight: 700;
	overflow   : hidden;
}

.rudy-item-cont ul li:nth-child(2) {
	width   : 25%;
	overflow: hidden;
}

.rudy-item-cont ul li:nth-child(3) {
	width: 100%;
}

.rudy-desc-text {
	font-size: 0.3em;
}

/* HEADER */

.rudy-header {
	position: absolute;
	top     : 0;
	z-index : 350;
}

.rudy-nav-desktop {
	display: none;
}

.rudy-nav-desktop ul li {
	padding: 0 1.250em 0 0;
	cursor : pointer;
}

.rudy-chevron {
	width: 2.500em;
}

/* BODY */

.rudy-main {
	text-align: center;
	position  : absolute;
	top       : 7%;
	bottom    : 9%;
	left      : 0;
	right     : 0;
}

.rudy-burger {
	height                     : 15%;
	-webkit-animation          : burgerRotate 4s linear infinite;
	-moz-animation             : burgerRotate 4s linear infinite;
	-o-animation               : burgerRotate 4s linear infinite;
	animation                  : burgerRotate 4s linear infinite;
	-webkit-backface-visibility: hidden;
	backface-visibility        : hidden;
	transition                 : translateZ(0);
	-webkit-transition         : translateZ(0);
	-webkit-perspective        : 200px;
	perspective                : 200px;
}

.rudy-main-img {
	height: 75%;
	width : 100%;
}

/* FOOTER */

.rudy-footer {
	position : absolute;
	bottom   : 0;
	width    : 100%;
	color    : #fff3f5;
	font-size: 0.583em;
	z-index  : 1;
}

.rudy-copy {
	float     : none;
	text-align: center;
}

.rudy-copy ul li {
	padding: 0 1em 0 0;
}

.rudy-copy ul li:last-child {
	padding: 0;
}

.rudy-design {
	float: right;
}

.rudy-social {
	position   : absolute;
	bottom     : 0;
	left       : 0;
	right      : 0;
	z-index    : 150;
	font-weight: 700;
	color      : #fff;
}

.rudy-social ul li {
	display       : inline-block;
	padding       : 0 2.5em 0 0;
	vertical-align: middle;
	z-index       : 150;
}

.rudy-social ul li a {
	display: block;
}

.rudy-social ul li:last-child {
	padding: 0;
}

.rudy-social-icon {
	width: 2.417em;
}

.rudy-mobile-nav-text {
	font-size: 1.2em;
}

.rudy-gmap {
	position                          : absolute;
	top                               : 15%;
	left                              : 15%;
	right                             : 15%;
	bottom                            : 15%;
	background-color                  : rgba(0, 0, 0, 0);
	-webkit-transform                 : translate3d(-2500px, 0, 0);
	transform                         : translate3d(-2500px, 0, 0);
	-webkit-transition                : all 1s ease-in-out;
	transition                        : all 1s ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(1,.11,.39,1);
	transition-timing-function        : cubic-bezier(1,.11,.39,1);
	overflow                          : hidden;
	z-index                           : 250;
}

.rudy-gmap-open {
	-webkit-transform: translate3d(0, 0, 0);
	transform        : translate3d(0, 0, 0);
}

.rudy-gmap-canvas {
	display: block;
	width  : 100%;
	height : 100%;
}

.rudy-gmap-close {
	width  : 25px;
	padding: 5px 0 5px 5px;
	cursor : pointer;
}

.rudy-contact {
	position                          : absolute;
	top                               : 0;
	bottom                            : 0;
	left                              : 0;
	right                             : 0;
	width                             : 100%;
	padding-left                      : 0;
	display                           : block;
	background-color                  : rgba(0, 0, 0, .8);
	-webkit-transform                 : translate3d(-2500px, 0, 0);
	transform                         : translate3d(-2500px, 0, 0);
	-webkit-transition                : all 1s ease-in-out;
	transition                        : all 1s ease-in-out;
	-webkit-transition-timing-function: cubic-bezier(1,.11,.39,1);
	transition-timing-function        : cubic-bezier(1,.11,.39,1);
	text-align                        : center;
	z-index                           : 250;
}

.rudy-contact-centered ul {
	width: 100%;
}

.rudy-contact-centered ul li {
	display    : block;
	text-align : center;
	padding    : 10px;
	position   : relative;
	color      : #f4004a;
	font-size  : 1.5em;
	font-weight: 700;
}

.rudy-contact-centered ul li:nth-child(5) {
	cursor: pointer;
}

.rudy-contact-open {
	-webkit-transform: translate3d(0, 0, 0);
	transform        : translate3d(0, 0, 0);
}

.rudy-contact-img-padding {
	padding-top: 4%;
}

.rudy-contact-images-phone {
	width: 80px;
}

.rudy-contact-phone-height {
	height: 20px;
}

.rudy-contact-images-email {
	width: 60px;
}

.rudy-contact-email-height {
	height: 20px;
}

.rudy-contact-images-pin {
	width: 40px;
}

.rudy-contact-pin-height {
	height: 20px;
}

.rudy-contact-info-cont {
	position: absolute;
	top     : 0;
	bottom  : 0;
	left    : 0;
	right   : 0;
}

.rudy-contact-info-cont:before {
	content       : '';
	display       : inline-block;
	vertical-align: middle;
	height        : 100%;
}

.rudy-contact-info-centered {
	vertical-align: middle;
	display       : inline-block;
}

.rudy-menu-icon-open {
	font-weight: 700;
}

.rudy-contact-icon-open {
	font-weight: 700;
}

@media all and ( min-width: 481px )  {

	.rudy-chevron {
		width: 4.500em;
	}

	.rudy-close {
		width: 4.500em;
	}

	.rudy-footer {
		font-size: 1em;
	}

	.rudy-item-cont {
		font-size: 3.000em;
	}
}

@media all and ( min-width: 768px )  {

	.rudy-copy {
		float     : left;
		text-align: left;
	}

	.rudy-copy ul li:last-child {
		padding: 0 1em 0 0;
	}

	.rudy-darkoverlay {
		position          : absolute;
		top               : 0;
		bottom            : 0;
		left              : 0;
		right             : 0;
		background-color  : #000;
		opacity           : 0;
		-webkit-transition: all 2s ease-in-out;
		transition        : all 2s ease-in-out;
	}

	.rudy-darkoverlay-dark {
		opacity: .5;
	}

	.rudy-nav-desktop {
		display  : block;
		color    : #fff;
		font-size: 1.333em;
	}

	.rudy-hide-desktop {
		display: none !important;
	}

	.rudy-hide-mobile {
		display: inline-block;
	}

	.rudy-foodmenu {
		position         : absolute;
		top              : 15%;
		left             : 15%;
		right            : 15%;
		bottom           : 15%;
		background-color : rgba(0, 0, 0, 1);
		padding          : 2% 0 0 2%;
	}

	.rudy-item-cont {
		font-size: 2em;
	}

	.rudy-item-cont ul {
		width: 48%;
		float: left;
	}

	.rudy-item-cont ul li:nth-child(3) {
		height: 30px;
	}

	.rudy-foodmenu-title {
		display: none;
	}

	.rudy-close {
		display: none;
	}

	.rudy-contact {
		padding-left    : 8%;
		background-color: rgba(0, 0, 0, 0);
		text-align      : left;
		z-index         : 0;
		width           : 450px;
	}

	.rudy-contact:before {
		content       : '';
		display       : inline-block;
		vertical-align: middle;
		height        : 100%;
	}

	.rudy-contact-centered {
		vertical-align: middle;
		display       : inline-block;
		padding-left  : 5%;
	}

	.rudy-contact-centered ul {
		width: 400px;
	}

	.rudy-contact-centered ul li {
		display   : inline-block;
		width     : 100px;
		text-align: center;
		padding   : 15px;
		position  : relative;
		color     : #fff;
		font-size : 1em;
	}

	.rudy-contact-centered ul li:nth-child(even) {
		text-align: left;
		width     : 200px;
	}

	.rudy-contact-open {
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
	}

	.rudy-contact-images-phone {
		width: 100px;
	}

	.rudy-contact-phone-height {
		height: 40px;
	}

	.rudy-contact-images-email {
		width: 80px;
	}

	.rudy-contact-email-height {
		height: 20px;
	}

	.rudy-contact-images-pin {
		width: 60px;
	}

	.rudy-contact-pin-height {
		height: 60px;
	}

	.rudy-contact-info-cont {
		position: absolute;
		top     : 0;
		bottom  : 0;
		left    : 0;
		right   : 0;
	}

	.rudy-contact-info-cont:before {
		content       : '';
		display       : inline-block;
		vertical-align: middle;
		height        : 100%;
	}

	.rudy-contact-info-centered {
		vertical-align: middle;
		display       : inline-block;
	}

	.rudy-menu-icon-open {
		font-weight: 700;
	}

	.rudy-contact-icon-open {
		font-weight: 700;
	}
}

@media all and ( min-width: 1024px )  {

	.rudy-item-cont {
		font-size: 2.667em;
	}
}

@media all and ( min-width: 1600px )  {

	html {
		font-size: 16px;
	}

	.rudy-contact {
		width: 650px;
	}

	.rudy-contact-centered ul {
		width: 600px;
	}

	.rudy-contact-centered ul li {
		width: 200px;
	}

	.rudy-contact-images-phone {
		width: 200px;
	}

	.rudy-contact-phone-height {
		height: 80px;
	}

	.rudy-contact-images-email {
		width: 160px;
	}

	.rudy-contact-email-height {
		height: 40px;
	}

	.rudy-contact-images-pin {
		width: 120px;
	}

	.rudy-contact-pin-height {
		height: 120px;
	}
}

@-webkit-keyframes burgerRotate {
    from { -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-moz-keyframes burgerRotate {
    from { -moz-transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@-o-keyframes burgerRotate {
    from { -o-transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}

@keyframes burgerRotate {
    from { transform: rotate(0deg) translateX(10px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(10px) rotate(-360deg); }
}