@font-face {
	font-family: Moon;
	src: url("../fonts/moon_light.otf") format("opentype");
}

html {
	font-size: 12px;
}

body {
	background-color: #f4004a;
	font-family     : Moon;
	max-height      : 100vh;
	position        : relative;
	padding         : 0;
	margin          : 0;
	overflow        : hidden;
	letter-spacing  : 0.083em;
}

/* SHARED */

.corner-padding {
	padding: 2.5em;
}

/* HEADER */

.rudy-header {
	position: absolute;
	top     : 0;
}

.rudy-nav-desktop {
	display: none;
}

.rudy-nav-mobile {
	display: block;
}

.rudy-chevron {
	width: 4.500em;
}

/* BODY */

.rudy-main {
	text-align: center;
	position  : absolute;
	top       : 10%;
	bottom    : 10%;
	left      : 0;
	right     : 0;
}

.rudy-burger {
	height: 15%;
	width : 100%;
}

.rudy-main-img {
	height: 85%;
	width : 100%;
}

/* FOOTER */

.rudy-footer {
	position: absolute;
	bottom  : 0;
	width   : 100%;
	color   : #fff3f5;
}

.rudy-copy {
	float: left;
}

.rudy-design {
	float: right;
}

@media all and ( min-width: 768px )  {

	.rudy-nav-mobile {
		display: none;
	}

	.rudy-nav-desktop {
		display  : block;
		color    : #fff;
		font-size: 1.333em;
	}

	.rudy-nav-desktop ul {
		padding: 0;
		margin : 0;
	}

	.rudy-nav-desktop ul li {
		display        : inline;
		text-decoration: none;
		padding        : 0 1.250em 0 0;
		margin         : 0;
	}

}