@font-face {
	font-family: Moon;
	src: url("../fonts/moon_light.otf") format("opentype");
}

body {
	background-color: #f4004a;
	font-family     : Moon;
	max-height      : 100vh;
	position        : relative;
	padding         : 0;
	margin          : 0;
	/*overflow        : hidden;*/
}

/* HEADER */

.rudy-header {
	position: absolute;
	top: 0;
}

.rudy-nav {
	color: #fff;
}

.rudy-nav ul li {
	display: inline;
	text-decoration: none;
	padding: 0 5px;
	margin : 0;
}

/* BODY */

.rudy-main {
	text-align: center;
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 0;
	right: 0;
}

.rudy-burger {
	height: 15%;
	width: 100%;
}

.rudy-main-img {
	height: 85%;
	width : 100%;
}

/* FOOTER */

.rudy-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff3f5;
	font-size: 12px;
}

.rudy-copy {
	padding: 60px;
	letter-spacing: 1px;
	float: left;
}

.rudy-design {
	float: right;
	padding: 60px;
	letter-spacing: 1px;
}